<!DOCTYPE html>
<html>
  <head>
    <title>Jpcode</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= render "layouts/navbar" %>
  	<% if user_signed_in? %>
  	<p>Hello, <%= current_user.name %>- <%= link_to "sign_out", destroy_user_session_path, :method => 'delete' %><br>
  		<% end %>
    <%= yield %>
     <%= render "layouts/footer" %>
  </body>
</html>
